<html>
    <body bgcolor=#F4F5FF>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Sepal Length value :  <input type="text", name='a', placeholder="sepal length (cm)"> <br><br>
            Sepal Width value :  <input type="text", name='b', placeholder="sepal width (cm)"> <br><br>
            Petal Length value :  <input type="text", name='c', placeholder="petal length (cm)"> <br><br>
            Petal Width value : <input type="text", name='d', placeholder="petal width (cm)"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>
        
    </center>

    </body>
</html>